@if (isAdmin()) {
  <h3 class="text-center">Admin Dashboard</h3>
  <div class="row p-3 g-3">
    <div class="col-md-4 col-lg-2">Total Books: {{booksCount$ | async}}</div>
    <div class="col-md-4 col-lg-2">New: {{newBooksCount$ | async}}</div>
    <div class="col-md-4 col-lg-2">Used: {{usedBooksCount$ | async}}</div>
    <div class="col-md-4 col-lg-2">Damaged: {{damagedBooksCount$ | async}}</div>
    <div class="col-md-4 col-lg-2">Users: {{usersCount}}</div>
    <div class="col-md-4 col-lg-2">Borrowing Users: {{borrowedUsersCount}}</div>
    <div class="col-md-4 col-lg-2">Active Borrows: {{activeBorrowsCount}}</div>
    <div class="col-md-4 col-lg-2">Overdue Borrows: {{overdueBorrowsCount}}</div>
    <div class="col-md-4 col-lg-2">Pending Requests: {{pendingRequestsCount}}</div>
  </div>

  <div class="table-wrap p-3">
    <h5>Borrow Monitoring</h5>
    <ag-grid-angular
      style="height: 50vh;"
      [theme]="theme"
      [rowHeight]="rowHeight"
      [rowData]="adminBorrows_()"
      [gridOptions]="adminBorrowGridOptions">
    </ag-grid-angular>
  </div>

  <div class="table-wrap p-3">
    <h5>Pending Book Requests</h5>
    <ag-grid-angular
      style="height: 50vh;"
      [theme]="theme"
      [rowHeight]="rowHeight"
      [rowData]="pendingRequests_()"
      [gridOptions]="pendingRequestsGridOptions">
    </ag-grid-angular>
  </div>
}

@if (!isAdmin()) {
  <h3 class="text-center">My Dashboard</h3>
  <div class="row p-3 g-3">
    <div class="col-md-4">Books Borrowed: {{activeBorrowsCount}}</div>
    <div class="col-md-4">Overdue: {{overdueBorrowsCount}}</div>
  </div>

  <div class="table-wrap p-3">
    <h5>My Borrowed Books</h5>
    <ag-grid-angular
      style="height: 50vh;"
      [theme]="theme"
      [rowHeight]="rowHeight"
      [rowData]="myBorrows_()"
      [gridOptions]="myBorrowsGridOptions">
    </ag-grid-angular>
  </div>
}