<div class="card m-3 text-bg-dark mb-3">
  <div class="card-body">
    <h4>Request a New Book</h4>
    <form class="row g-3" [formGroup]="requestForm" (ngSubmit)="submitRequest()">
      <div class="col-md-4">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" formControlName="author" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Reason</label>
        <input type="text" class="form-control" formControlName="reason" />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="waitingForResponse || requestForm.invalid">Submit
          Request</button>
      </div>
    </form>

    <div class="pt-4">
      <h5>My Book Requests</h5>
      <div class="table-wrap">
        <ag-grid-angular style="height: 50vh;" [theme]="theme" [rowHeight]="rowHeight" [rowData]="requests"
          [gridOptions]="gridOptions">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
